{% extends "default.html" %}
{% block title %}Habitatlist named: "{{ new_habitatlist.get_habitat_name() }}" Created{% endblock %}
{% block header %}Habitatlist named: "{{ new_habitatlist.get_habitat_name() }}" Created:{% endblock %}
{% block content %}
<p>The existing habitatlists {{ first_habitatlist.get_habitat_name() }} and
    {{ second_habitatlist.get_habitat_name() }} were successfully joined together to create
    {{ new_habitatlist.get_habitat_name() }}</p>
<p>{{ new_habitatlist.get_geographic_location() }}</p>
<h2>Snakes:</h2>
    <ul>
    {% for snake in new_habitatlist %}
        <li>{{ snake.to_html()|safe }}</li>
    {% endfor %}
    </ul>
{% endblock %}
